/*
/**
!.*

!README.md

*~
.*.swp
.DS_Store

.CFUserTextEncoding
.Trash/
.adobe/
.bash_history
.config/
.cups/
.dbshell
.designer/
.dropbox/
.gdb_history
.gem/
.irb-history
.lesshst
.mysql_history
.netrc
.npm/
.pry_history
.psql_history
.rvm/
.ssh/
.subversion_IDEA/
.vim/_misc
.viminfo
