[user]
    name = Kirill Lashuk
    email = kirill.lashuk@gmail.com

[diff]
    noprefix = true
    renames = true

[alias]
    aa = add --all
    au = add --update
    br = branch
    ci = commit
    co = checkout
    dc = diff --cached
    df = diff
    glg = !git-graph-log
    graph = log --graph --oneline --decorate --date-order
    lg = log
    st = status
    sum = log --oneline
    unstage = reset HEAD --

[core]
    editor = vim -c start
    excludesfile = ~/.gitexclude
    preloadindex = true

[diff]
    tool = vimdiff_ro

[difftool]
    prompt = false

[difftool "vimdiff_ro"]
    cmd = vimdiff -R $LOCAL $REMOTE

[merge]
    tool = vimdiff

[mergetool]
    keepBackup = false

[color]
    ui = true

[color "diff"]
    new = green bold
    old = red bold
    meta = cyan bold
    frag = magenta bold

[color "branch"]
    current = green bold reverse
    local = green bold
    remote = magenta bold

[color "status"]
    added = yellow bold
    changed = green bold
    untracked = red bold

[push]
    default = current
